body {
  font-family: 'DM Sans', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 700;
}

h4 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
}

h6 {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.6;
}

a {
  color: #000;
  text-decoration: underline;
}

.nav-link {
  font-family: Montserrat, sans-serif;
  color: #429e38;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.navbar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
}

.header-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 500px;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
  color: #000;
}

.headline-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.button {
  margin: 15px 40px;
  padding: 20px 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #8662f0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 6px 16px -3px rgba(0, 0, 0, 0.2);
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.subhead {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: Nunito, sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

.brand-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.site-title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.body-container {
  position: absolute;
  left: 0px;
  top: 200px;
  right: 800px;
  bottom: auto;
  max-width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.menu-button {
  color: #429e38;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: url('../images/smartmockups_kbihidyw.jpg');
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 65%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  min-width: 400px;
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 125px;
  padding-right: 800px;
  padding-bottom: 125px;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url('../images/smartmockups_kbim1xes.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/smartmockups_kbim1xes.png');
  background-position: 0px 0px, 10% 65%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  color: #fff;
  text-align: left;
}

.centered-container {
  padding-right: 200px;
  padding-left: 200px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.site-navigation {
  padding-top: 20px;
}

.heading {
  margin-bottom: 8px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: 'DM Sans', sans-serif;
  color: #000;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 700;
}

.navbar-container {
  margin-right: auto;
  margin-left: auto;
}

.image {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.feature-image-mask {
  width: 100%;
  min-width: 450px;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  min-width: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.image-2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.feature-image-mask-2 {
  width: 100%;
  min-width: 500px;
  margin-right: 40px;
}

.feature-image-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block {
  max-width: 50%;
}

.feature-image-mask-3 {
  width: 100%;
  margin-right: 40px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f3f1f6;
}

.cards-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f3f1f6;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: Nunito, sans-serif;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-2 {
  margin-bottom: 40px;
  font-family: Nunito, sans-serif;
  text-align: center;
}

.paragraph {
  font-family: Nunito, sans-serif;
  font-size: 24px;
}

.heading-3 {
  text-align: center;
}

.paragraph-2 {
  text-align: center;
}

.div-block-2 {
  text-align: center;
}

.div-block-3 {
  text-align: center;
}

.div-block-4 {
  text-align: center;
}

.div-block-5 {
  text-align: center;
}

.div-block-6 {
  text-align: center;
}

.text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Nunito, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.columns {
  display: block;
  padding: 20px 25% 23px;
  font-family: Nunito, sans-serif;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.call-to-action {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #05f3b5;
  font-family: Nunito, sans-serif;
}

.section-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.link {
  text-decoration: none;
}

.link-2 {
  text-decoration: none;
}

.link-3 {
  text-decoration: none;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-copy {
  margin-bottom: 8px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #000;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

.call-to-action-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask-right {
  width: 100%;
  min-width: 450px;
  margin-right: 0px;
  margin-left: 40px;
}

.flex-container-2 {
  display: inline-block;
  padding-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-3 {
  display: inline-block;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
  font-size: 64px;
}

.paragraph-3 {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  color: #000;
}

.div-block-7 {
  position: static;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.divblurred {
  position: relative;
  top: auto;
  display: block;
  overflow: visible;
  float: none;
  clear: none;
  opacity: 1;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -o-object-fit: fill;
  object-fit: fill;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-4 {
  display: inline-block;
}

.heading-5 {
  position: relative;
  left: 15px;
  top: 12px;
  display: inline-block;
  margin-top: 0px;
  font-size: 75px;
}

.bold-text {
  font-size: 36px;
}

.paragraph-4 {
  margin-left: 7px;
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Nunito, sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 22px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.centered-container-copy {
  padding-right: 200px;
  padding-left: 200px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-6 {
  font-family: Nunito, sans-serif;
}

.paragraph-5 {
  font-family: Nunito, sans-serif;
}

.heading-7 {
  font-family: Nunito, sans-serif;
}

.paragraph-6 {
  font-family: Nunito, sans-serif;
}

.body {
  display: block;
}

.image-5 {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .nav-link {
    color: #fff;
  }
  .navbar {
    padding-top: 0px;
  }
  .header-background {
    height: auto;
    min-height: 400px;
    padding-bottom: 50px;
  }
  .brand-link {
    padding-left: 10px;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .flex-container {
    max-width: 90%;
  }
  .hero-image {
    min-width: 300px;
  }
  .hero-overlay {
    padding-top: 100px;
    padding-right: 250px;
    padding-bottom: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url('../images/smartmockups_kbim1xes.png');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/smartmockups_kbim1xes.png');
    background-position: 0px 0px, 20% 0%;
  }
  .centered-container {
    padding-right: 60px;
    padding-left: 60px;
  }
  .navbar-container {
    width: 100%;
    min-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .nav-menu {
    background-color: #000;
    color: #fff;
  }
  .feature-image-mask {
    min-width: 350px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cards-grid-container {
    grid-column-gap: 20px;
  }
  .columns {
    padding-right: 5%;
    padding-left: 5%;
  }
  .link {
    font-style: normal;
    text-decoration: none;
  }
  .link-2 {
    text-decoration: none;
  }
  .link-3 {
    text-decoration: none;
  }
  .feature-image-mask-right {
    min-width: 350px;
  }
  .paragraph-4 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  h2 {
    font-size: 28px;
    line-height: 1.2;
  }
  h3 {
    font-size: 24px;
    line-height: 1.4;
  }
  h4 {
    font-size: 20px;
    line-height: 1.4;
  }
  h5 {
    font-size: 16px;
    line-height: 1.4;
  }
  h6 {
    font-size: 14px;
    line-height: 1.4;
  }
  p {
    font-size: 16px;
  }
  .navbar {
    padding-top: 0px;
  }
  .header-background {
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom-width: 0px;
  }
  .headline-container {
    text-align: center;
  }
  .button {
    padding: 15px 20px;
  }
  .subhead {
    font-size: 18px;
    line-height: 1.2;
  }
  .body-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .hero {
    padding: 40px 20px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .hero-overlay {
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url('../images/smartmockups_kbim1xes.png');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../images/smartmockups_kbim1xes.png');
    background-position: 0px 0px, 25% 0%;
    background-size: auto, auto;
    background-repeat: repeat, no-repeat;
  }
  .centered-container {
    padding-right: 80px;
    padding-left: 80px;
  }
  .heading {
    font-size: 40px;
  }
  .feature-section {
    padding: 40px 20px;
  }
  .feature-image-mask {
    min-width: 0px;
    margin-right: 0px;
  }
  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }
  .image-2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .feature-image-mask-2 {
    margin-right: 0px;
  }
  .feature-image-2 {
    margin-right: auto;
    margin-left: auto;
  }
  .feature-image-mask-3 {
    margin-right: 0px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cards-section {
    padding: 40px 20px;
  }
  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .paragraph {
    font-size: 20px;
  }
  .text-block {
    font-size: 14px;
  }
  .call-to-action {
    padding: 40px 20px;
  }
  .heading-copy {
    font-size: 30px;
  }
  .call-to-action-container {
    text-align: center;
  }
  .feature-image-mask-right {
    min-width: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .paragraph-4 {
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 1.1;
  }
  h2 {
    line-height: 1.2;
  }
  h3 {
    line-height: 1.3;
  }
  h4 {
    line-height: 1.4;
  }
  h5 {
    line-height: 1.4;
  }
  .nav-link {
    background-color: #000;
    color: #fff;
  }
  .header-background {
    height: auto;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .headline-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .subhead {
    font-size: 16px;
  }
  .brand-link {
    padding-left: 10px;
  }
  .site-title {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .body-container {
    position: static;
    display: block;
    max-width: 100%;
    padding-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .icon {
    color: #000;
  }
  .menu-button-2 {
    background-color: #000;
  }
  .menu-button-2.w--open {
    color: #fff;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
  .hero {
    background-attachment: fixed;
  }
  .hero-overlay {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .centered-container {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .heading {
    font-size: 36px;
  }
  .feature-image-mask {
    min-width: 0px;
  }
  .feature-image {
    min-width: 0px;
  }
  .image-2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .heading-2 {
    font-size: 25px;
    text-align: center;
  }
  .paragraph {
    font-size: 16px;
  }
  .text-block {
    font-size: 12px;
  }
  .call-to-action {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .heading-copy {
    font-size: 26px;
  }
  .call-to-action-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .feature-image-mask-right {
    min-width: 0px;
  }
  .paragraph-4 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 13px;
  }
  .centered-container-copy {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  #w-node-68dc3e9ee036-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-68dc3e9ee038-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-e96e5237a7d8-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-e96e5237a7da-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
  #w-node-68dc3e9ee03d-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-68dc3e9ee03f-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
  #w-node-cfd55b1c6950-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cfd55b1c6952-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
  #w-node-f9a97f931f18-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-f9a97f931f1a-504355c0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-68dc3e9ee033-504355c0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-68dc3e9ee02c-504355c0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-e96e5237a7d5-504355c0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-68dc3e9ee03a-504355c0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-cfd55b1c694d-504355c0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-f9a97f931f15-504355c0 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

